{% extends 'root.html' %}

{% block title %}
    Forget Password
{% endblock title %}

{% block doc %}
<section class="vh-80">
    <div class="container py-5 h-80">
      <div class="row d-flex align-items-center justify-content-center h-80">
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <div class="d-grid">
            <div class="container">
              <div class="row p-5">
                <div class="col m-5">Reset Your Password</div>
              </div>
            </div>
          </div>
          <form method="post" action="{% url 'user:forget-password-email' %}">          
            
            <div data-mdb-input-init class="form-outline mb-4">
                <label for="Email" class="form-label">
                    Email 
                </label>
    
                <input type="email" name="email" id="email" class="form-control my-5">
            </div>
  
            {% csrf_token %}
  
            <!-- Submit button -->
            <div class="d-grid">
              <button
                type="continue"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-primary btn-primary"
              >
                Send Link
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock doc %}
    